@import "tailwindcss";



/* APPLICATION LEVEL COLORS */
/* Light Theme */

:root {
    --bg-color: #ffffff;
    --text-color: #0f1419;
    --secondary-text: #536471;
    --button-bg: #1d9bf0;
    --button-text: #ffffff;
    --input-bg: #f5f8fa;
    --input-border: #b7c6d0;
    --link-color: #1d9bf0;
    --divider-color: #e6ecf0;
    --hover: #e6ecf0;
}

/* Dark Theme */
[data-theme="dark"] {
    --bg-color: #000000;
    --text-color: #ffffff;
    --secondary-text: #8899a6;
    --button-bg: #1d9bf0;
    --button-text: #ffffff;
    --input-bg: #15202b;
    --input-border: #38444d;
    --link-color: #1d9bf0;
    --divider-color: #38444d;
    --hover: #262626;
}


body {
    background-color: var(--bg-color);
    color: var(--text-color);
}


::selection {
    background-color: var(--button-bg);
}



/* CUSTOM TAILWIND CLASSES */
@layer components {

    .primary-btn {
        @apply bg-(--button-bg) text-(--button-text) rounded-full h-11.25 py-2 font-medium cursor-pointer
    }

    .secondary-btn {
        @apply border border-(--input-border) rounded-full py-2 font-medium hover:bg-(--input-bg) cursor-pointer
    }

    .social-btn {
        @apply bg-(--text-color) text-(--bg-color) rounded-full py-2 font-normal mb-3 flex items-center justify-center gap-2 cursor-pointer
    }


    .surface-btn {
        @apply bg-(--text-color) text-(--bg-color) text-center font-semibold px-5 py-2 rounded-full
    }


    .danger-btn {
        @apply bg-red-500 text-white text-center font-semibold px-5 py-2 rounded-full cursor-pointer
    }

    /* INPUT */

    .input {
        @apply w-full px-3 py-2 rounded-lg text-[17px] border-2 border-(--input-border) bg-(--background) text-(--text-color) outline-none focus:ring-2 focus:ring-(--button-bg) focus:ring-offset-2 focus:ring-offset-(--bg-color) transition-all duration-100
    }


}



/* Scrollbar hiding */
/* globals.css */
@layer utilities {

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}


/* Custom Slim Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(155, 155, 155, 0.3);
    border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(155, 155, 155, 0.5);
}